
/*
altura elemento = altura contenido + padding + borde
anchura elemento = anchura contenido + padding + borde
*/

span#mg
{
    background-color: lightgreen;
    /* Al ser un elemento en línea, el margin y padding solo se aplica a la izquierda y a la derecha */
    margin: 20px;
    padding: 10px;
}

div.inline p
{
    background-color: yellow;
    border: 1px solid black;
    display: inline-block;
    height: 200px;
    width: 100px;
}

p
{
    border: 1px solid black;
    height: 100px;
}

p:nth-of-type(1)
{
    background-color: lightcoral;
}

p:nth-of-type(2)
{
    background-color: lightblue;
    width: 50%;
}
